* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: antiquewhite;
}

.logo {
    width: 180px;
    border-radius: 50px;
}

.navItems > ul {
    display: flex;
    list-style-type: none;
    margin-top: 15px;
    cursor: pointer;
}

.navItems > ul > li {
    padding: 15px;
}

li:hover {
    background-color: aqua;
}

.search {
    padding: 20px;
}

.logoImg {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px;
}

.starRating {
    width: 24px;
}

.resRating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}

.cardContainer {
    width: 300px;
    height: 300px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.cardContainer:hover {
    transform: scale(0.95);
  }

.outterCard {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cuisStyle {
    font-size: 0.9rem;
    color: gray;
}

.timeStyle {
    font-size: 0.9rem;
    color: gray;
}

.locationStyle {
    font-size: 0.9rem;
    color: gray;
}


.filter{
    display: flex;
    margin: 10px;
    justify-content: center;
}
.filterBtn {
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
  